@mixin font-settings ($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin position ($dispay, $justify-content, $align-items) {
    display: $dispay;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin tablet {
    @media only screen and (max-width: 768px){
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 375px){
        @content;
    }
}